<!DOCTYPE HTML>
<head>
<title>Rancho Bom</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/startstop-slider.js"></script>
</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="call">
				 <p><span>Precisa de ajuda?</span> Entre em contato <span class="number">3374-0000</span></span></p>
			</div>
			<div class="account_desc">
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Webmail</a></li>
					<li><a href="#">Cadastre-se</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_top">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div>
			  <div class="cart">
			  	   <p>Olá, aproveite nossas ofertas!</p>
			  </div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="active"><a href="/">Início</a></li>
			    	<li><a href="/">História</a></li>
			    	<li><a href="/">Sobre</a></li>
			    	<li><a href="/">Lojas</a></li>
			    	<li><a href="/">Contato</a></li>
			    	<li><a href="/">Fidelidade</a></li>
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form>
	     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>
	<div class="header_slide">
			<div class="header_bottom_left">
				<div class="categories">
				  <ul>
				  	<h3>Categorias</h3>
				      <li><a href="#">Açogue</a></li>
				      <li><a href="#">Bebidas</a></li>
				       <li><a href="#">Frios</a></li>
				       <li><a href="#">Higiene e Perfumaria</a></li>
				       <li><a href="#">Limpeza</a></li>
				       <li><a href="#">Padaria</a></li>
				       <li><a href="#">Pet Shop</a></li>
				  </ul>
				</div>
	  	     </div>
					 <div class="header_bottom_right">
					 	 <div class="slider">

			                    	<div class="slide">
									 <div class="slider-img">
									     <a href="preview.html"><img src="images/slide-1-image.png" alt="learn more" /></a>
									  </div>
									  <div class="clear"></div>
				                  </div>


					 <div class="clear"></div>
		         </div>
		      </div>
		   <div class="clear"></div>
		</div>
   </div>
 <div class="main">
    <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>Promoção</h3>
    		</div>
    		<div class="see">
    			<p><a href="#">Veja todos os produtos</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      <div class="section group">
				<div class="grid_1_of_4 images_1_of_4">
					 <a href="preview.html"><img src="images/feature-pic1.png" alt="" /></a>
					 <h2>Lorem Ipsum is simply </h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">R$ 620,87</span></p>
					    </div>
					       		<div class="add-cart">
							     </div>
							 <div class="clear"></div>
					</div>

				</div>
				<div class="grid_1_of_4 images_1_of_4">
					<a href="preview.html"><img src="images/feature-pic2.png" alt="" /></a>
					 <h2>Água 5 lts </h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">R$ 899,75</span></p>
					    </div>
					       		<div class="add-cart">
							     </div>
							 <div class="clear"></div>
					</div>

				</div>
				<div class="grid_1_of_4 images_1_of_4">
					<a href="preview.html"><img src="images/feature-pic3.png" alt="" /></a>
					 <h2>Lorem Ipsum is simply </h2>
					 <div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">R$ 599,00</span></p>
					    </div>
					       		<div class="add-cart">
							     </div>
							 <div class="clear"></div>
					</div>
				</div>
				<div class="grid_1_of_4 images_1_of_4">
					<a href="preview.html"><img src="images/feature-pic4.png" alt="" /></a>
					 <h2>Velho barerro</h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">R$ 679,87</span></p>
					    </div>
					       		<div class="add-cart">
							     </div>
							 <div class="clear"></div>
					</div>
				</div>
			</div>
    </div>
 </div>
</div>
   <div class="footer">
   	  <div class="wrap">
	     <div class="section group">
	     		<div class="contact">
	        <p>Supermercados Rancho Bom Ltda</p>
	        <p>Rua Marechal Castelo Branco, 5120 - Centro - Schroeder - Santa Catarina
	        <p>Fone: (47) 3374-6997 - Email: ranchobom@redetop.com.br</p>
      </div>
			</div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

